﻿@model S1G2_PVFAPP.Models.Work_center

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Work_center</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkcenterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkcenterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkcenterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkcenterName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkcenterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
