@{
    ViewBag.Title = "About";
}
<style type="=text/css">
    .p {
        font-size: 50px;
    }
</style>
<h2>Pine Valley Furniture</h2>
<br />
<br/>


<p >We are a value-driven company with a passion for life at home. Every product we create is our idea for making home a better place. At the PVF Group, we have 355 stores in 29 countries.Time and finances are precious – whether you're in retail, hospitality or an office. We make sure that well-designed business furniture is never an extravagance. See just how easy it can be to furnish your premises in a stylish yet thoroughly practical way.</p>

<br />
<p>
    “To create a better everyday life for the many people”, this is the PVF vision. Our business idea is “to offer a wide range of well-designed, functional home furnishing products at prices so low that as many people as possible will be able to afford them”.
    We work hard to achieve quality at affordable prices for our customers through optimizing our entire value chain, by building long-term supplier relationships, investing in highly automated production and producing large volumes. Our vision also goes beyond home furnishing. We want to create a better everyday for all people impacted by our business.
</p>
