@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    536 Windsor Avenue<br />
    Richmond, ON N9B 1W1<br />
    <title="Phone">Phone:</title>
    425.555.1800
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@gmail.com">Support@pvfurnitures.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:pvfurniture_service@gmail.com">Services@pvfurnitures.com</a>
</address>