﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 align="center">PINE VALLEY FURNITURE</h2>
    <p align="center">Industries Leading Furniture Brand</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h5>@Html.ActionLink("Customers", "Index", "Customers")</h5>
        <p>
            Every contact we have with a customer influences whether or not they’ll come back.
            We have to be great every time or we’ll lose them.
        </p>
    </div>
    <div class="col-md-4">
        <h5>@Html.ActionLink("Employees", "Index", "Employees")</h5>
        <p>
            Creating a strong company culture isn't just good business.
            It's the right thing to do, it makes our company the "BEST"place to work ..!
        </p>
    </div>
    <div>

    </div>
    <div class="col-md-4">
        <h5>@Html.ActionLink("Products", "Index", "Products")</h5>
        <p>A market is never saturated with a good product, more the quality, higher is the customer satisfaction.</p>
    </div>
    <div class="col-md-4">
        <h5>@Html.ActionLink("Sales Persons", "Index", "Sales_Person")</h5>
        <p>Become the person who would attract the results you seek.</p>
    </div>
    <div>

    </div>
    <div class="col-md-4">
        <h5>@Html.ActionLink("Orders", "Index", "Orders")</h5>
        <p>Check all your orders at anytime here!!</p>
        <br />
    </div>
   
    <div class="col-md-4">
        <h5>@Html.ActionLink("Raw Materials", "Index", "Raw_Material")</h5>
        <p>Manage here all your material history.</p>
        <br />
    </div>
   
<br > <br/>
    
    <div class="col-md-4">
        <h5>@Html.ActionLink("Vendors", "Index", "Vendors")</h5>
        <p>Highly Collaborative organizations rely on good chain of suppliers.</p>
    </div>
    
    <div class="col-md-4">
        <h5>@Html.ActionLink("Skills", "Index", "Skills")</h5>
        <p>Better the skills, better the performance. Know your employee wisely.!</p>
    </div>
    <div>

    </div>
    <div class="col-md-4">
        <h5>@Html.ActionLink("Work Centers", "Index", "Work_Centers")</h5>
        <p>The more you know about your company, the more we can engage</p>
    </div>
    <div>

    </div>
    <div class="col-md-4">
        <h5>@Html.ActionLink("Territories", "Index", "Territories")</h5>
        <p>You can easily find a branch that offers the right mix of furniture and price for your Home.</p>
    </div>
    <div>

    </div>
</div>

    

