﻿@model S1G2_PVFAPP.Models.Supply

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supply</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplyUnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplyUnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raw_Materials.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raw_Materials.MaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.VendorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.VendorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
