﻿@model S1G2_PVFAPP.Models.Customer

@{
    ViewBag.Title = "Details";
}

    <style type="text/css">

        .table {
            width: 100%;
            border-collapse: collapse;
        }

            .table th {
                background: #527EA9;
            }

            /* provide some minimal visual accomodation for IE8 and below */

            .table tr {
                background: #3d54e9;
            }



                /* ODD background rows */

                .table tr:nth-child(odd) {
                    background: #b8d1f3;
                }

                /* EVEN background rows */

                .table tr:nth-child(even) {
                    background: #dae5f4;
                }
    </style>


<div>
    <br /><br />
    <h4>Customer Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

    </dl>
    <h4>Territory Details</h4>
    <table class="table">
        <tr>
            <th>
                Territory
            </th>
        </tr>
        @foreach(var item in Model.Businesses)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Territory.TerritoryName)</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
