﻿@model IEnumerable<S1G2_PVFAPP.Models.Product>

@{
    ViewBag.Title = "Index";
}
<style type="text/css">

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th {
            background: light blue;
        }

        /* provide some minimal visual accomodation for IE8 and below */

        .table tr {
            background: #b8d1f3;
        }



            /* ODD background rows */

            .table tr:nth-child(odd) {
                background: #b8d1f3;
            }

            /* EVEN background rows */

            .table tr:nth-child(even) {
                background: #dae5f4;
            }
</style>
<h2>Product History</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductFinish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productline.LineName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Productline.LineName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>
